[Unit]
Description=frontend for paintme application
After=network.service

[Service]
WorkingDirectory=/opt/project-cswasamistake/paint-me/frontend
User=eric
Group=eric
Restart=always
Type=simple
Restart=always

RestartSec=3s

#ExecStartPre=/usr/bin/env npm install
ExecStart=/usr/bin/env npm start

[Install]
WantedBy=multi-user.target