canvas {
    border: 1px solid #000000;
    width: 600px;
    height: 600px;
  }

  .tools{
    margin-left: 35px;
    
  }

  .solo-draw{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  }