canvas {
    border: 1px solid #000000;
    width: 600px;
    height: 600px;
  }

  .tools{
    margin-left: 0px;
    margin-right: 38px;
    
  }

  .solo-draw{
  display: table;
  margin: 0 auto;
  }

  .solo-tools{
    margin-left: -50px;
    margin-right: 258px;
  }