canvas {
    border: 1px solid #000000;
    width: 600px;
    height: 600px;
  }

  .tools{
    margin-left: 35px;
    margin-right: 30px;
    
  }

  .solo-draw{
  display: table;
  margin: 0 auto;
  }